node_modules/
dist/
dist-ssr/
coverage/
playwright-report/
test-results/
blob-report/
.playwright/
*.local
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.log
npm-debug.log*
pnpm-debug.log*
docs
tsconfig.tsbuildinfo
